body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}
.popup-show body::after {
  opacity: 1;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}
.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 480px;
  border-radius: 5px;
  .lock & {
    visibility: visible;
  }
}

// Дополнительные стили для форм входа и регистрации

.popup {
  // .popup__content
  &__content {
    display: flex;
    flex-direction: column;
    padding: rem(24) rem(14);
  }
  // .popup__head
  &__head {
    display: flex;
    justify-content: flex-end;
  }
  // .popup__close
  &__close {
    position: relative;
    flex: 0 0 40px;
    height: 40px;
    @media (max-width: $mobileSmall) {
      flex: 0 0 30px;
      height: 30px;
    }
    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 3px;
      border-radius: 1px;
      background: #685ed6;
      position: absolute;
      right: 0;
      @media (max-width: $mobileSmall) {
        height: 2px;
      }
    }
    &::before {
      transform: rotate(45deg);
      top: 50%;
    }
    &::after {
      top: 50%;
      transform: rotate(-45deg);
    }
  }
  // .popup__column
  &__column {
    @include adaptiveValue("padding-top", 50, 20);
    @include adaptiveValue("padding-right", 50, 20);
    @include adaptiveValue("padding-bottom", 90, 20);
    @include adaptiveValue("padding-left", 50, 20);
  }
}
.column-popup {
  // .column-popup__head
  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 20);
    }
  }

  // .column-popup__title
  &__title {
    font-weight: 800;
    @include adaptiveValue("font-size", 32, 28);
    line-height: 1.3;
    color: #685ed6;
    // .column-popup__title_align
    &_align {
      text-align: center;
    }
  }

  // .column-popup__form
  &__form {
  }

  // .column-popup__account
  &__account {
  }
}
.account-popup {
  display: flex;
  justify-content: center;
  @include adaptiveValue("column-gap", 15, 8);
  row-gap: rem(8);
  @media (max-width: em(370)) {
    flex-direction: column;
  }
  // .account-popup__text
  &__text {
  }
  // .account-popup__button
  &__button {
    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #685ed6;
      }
    }
  }
}

.form-popup {
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 30, 20);
  }

  // .form-popup__items
  &__items {
    &:not(:last-child) {
      margin-bottom: rem(32);
    }
  }

  // .form-popup__line
  &__line {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
    &._form-error {
    }
  }
  // .form-popup__input
  &__input {
    background: #f7f7fd;
    border-radius: rem(4);
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
    &::placeholder {
      color: #1d2530;
    }
  }
  // .form-popup__viewpass
  &__viewpass {
    line-height: 1.3;
    color: #605dec;
    transition: all 0.3s ease 0s;
    &:not(:last-child) {
      margin-bottom: rem(5);
    }

    @media (any-hover: hover) {
      &:hover {
        color: #33afe1;
      }
    }
  }
  // .form-popup__button
  &__button {
  }
}
