//====================================================================================================
.footer {
  // .footer__head
  &__head {
    @include adaptiveValue("padding-top", 100, 60);
    @include adaptiveValue("padding-bottom", 70, 40);
    background: #1d2530;
  }
  // .footer__container
  &__container {
  }
  // .footer__items
  &__items {
    display: flex;
    column-gap: rem(15);
    row-gap: rem(10);
    align-items: flex-start;
  }
  // .footer__logo
  &__logo {
    flex: 1 1 42.869%;
  }
  // .footer__img
  &__img {
  }

  // .footer__body
  &__body {
    flex: 1 1 57.13%;
    display: flex;
    row-gap: rem(24);
    column-gap: rem(24);
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }

  // .footer__item-first
  &__item-first {
    flex: 1 1 45.054%;
    min-width: 140px;
  }
  // .footer__item-second
  &__item-second {
    flex: 1 1 54.945%;
  }

  // .footer__bottom
  &__bottom {
    background: #141b23;
  }
  // .footer__copyrights
  &__copyrights {
    padding: rem(25) 0;
    font-size: rem(14);
    line-height: 171%;
    color: #d9dbe1;
  }
}
.item-footer {
  // .item-footer__title
  &__title {
    max-width: 190px;
    font-weight: 500;
    font-size: rem(20);
    line-height: 120%;
    color: #f4f5f7;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 16);
    }
  }
  // .item-footer__list
  &__list {
  }
  // .item-footer__item
  &__item {
    max-width: 190px;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 12, 8);
    }
  }
  // .item-footer__link
  &__link {
    font-weight: 400;
    font-size: rem(16);
    line-height: 162%;
    color: #eeeff4;
    transition: all 0.2s ease 0s;
    display: inline-block;
    transform: scale(1);
    @media (any-hover: hover) {
      &:hover {
        color: #685ed6;
        transform: scale(1.03);
      }
    }
  }
}

//====================================================================================================
